<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07B657B7190F3CBF002DAADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07B657C6190F3CBF002DAADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1CFD777154F5EAA007447E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
